<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
</head>

<body>
    <h1>Edit User</h1>

    <form method="POST" action="">
        <!-- Include form fields for editing user information -->
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value="{{ user[1] }}" required>
        <br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="{{ user[3] }}" required>
        <br>

        <label for="ime">Ime:</label>
        <input type="text" id="ime" name="ime" value="{{ user[4] }}" required>
        <br>

        <label for="prezime">Prezime:</label>
        <input type="text" id="prezime" name="prezime" value="{{ user[5] }}" required>
        <br>

        <label for="telefon">Telefon:</label>
        <input type="text" id="telefon" name="telefon" value="{{ user[6] }}" required>
        <br>

        <label for="account_type">Account Type:</label>
        <select id="account_type" name="account_type" required>
            <option value="0" {% if user[7] == 0 %}selected{% endif %}>Admin</option>
            <option value="1" {% if user[7] == 1 %}selected{% endif %}>Korisnik</option>
            <option value="2" {% if user[7] == 2 %}selected{% endif %}>Izdavac</option>
        </select>
        <br>

        <button type="submit">Save Changes</button>
        <button type="submit" name="delete">Delete User</button>
    </form>

    <a href="{{ url_for('admin_dashboard') }}">Back to Dashboard</a>
</body>

</html>