<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Sale</title>
</head>

<body>
    <h1>Edit Sale</h1>

    <form method="POST" action="">
        <!-- Include form fields for editing sale information -->
        <label for="naziv_sale">Naziv Sale:</label>
        <input type="text" id="naziv_sale" name="naziv_sale" value="{{ sale[2] }}" required>
        <br>

        <label for="cena_po_satu">Cena po satu:</label>
        <input type="text" id="cena_po_satu" name="cena_po_satu" value="{{ sale[3] }}" required>
        <br>

        <label for="opis">Opis:</label>
        <textarea id="opis" name="opis" rows="4" cols="50">{{ sale[4] }}</textarea>
        <br>

        <label for="grad">Grad:</label>
        <input type="text" id="grad" name="grad" value="{{ sale[5] }}" required>
        <br>

        <label for="adresa">Adresa:</label>
        <input type="text" id="adresa" name="adresa" value="{{ sale[6] }}" required>
        <br>

        <button type="submit">Save Changes</button>
        <button type="submit" name="delete">Delete Sale</button>
    </form>

    <a href="{{ url_for('admin_dashboard') }}">Back to Dashboard</a>
</body>

</html>