{% extends 'base.html' %} {% block body %}
<h1>{{ sala['naziv_sale'] }}</h1>
<p>Opis: {{ sala['opis'] }}</p>
<p>Cena po satu: {{ sala['cena_po_satu'] }}</p>
<p>Adresa: {{ sala['adresa'] }}</p>
{{ kod_mape | safe }} {% if slike %}
<h2>Slike sale:</h2>
<div class="slike-sale">
    {% for slika in slike %}
    <img src="{{ slika['putanja'] }}" class="card-img-top" alt="Slika sale"> {% endfor %}
</div>
{% endif %}


{% if session['tip'] == 2 %}
<a href="{{ url_for('zatrazi_termin', sala_id=sala['id_sale']) }}" class="btn btn-success text-center">Zatraži termin</a> 
<a href="{{ url_for('oceni', entity_id=sala['id_sale']) }}" class="btn btn-success text-center">Oceni salu</a>
{% endif %}
<a href="{{ url_for('ocene_sala', sala_id=sala['id_sale']) }}" class="btn btn-success text-center">Pogledaj ocene</a>
{% endblock %}