{% extends 'base.html' %} {% block body %}
<style>
  #slider{
  width:80%;
  margin:0 auto;
  position:relative;
  overflow:hidden;
  box-shadow:2px 5px 10px rgba(0,0,0,0.4);;
}

.slide{
  width:100%;
  
  display:none;
  animation-name:fade;
  animation-duration:1s;
  
}
img{
 width:100%; 
}
@keyframes fade{
  from{opacity:0.5;}
  to{opacity:1;}
}

.controls{
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  font-size:1.5em;
  padding:15px 10px;
  border-radius:5px;
  
}

.controls:hover{
  background:white;
  transition:0.3s;
}

.controls:active{
  color:grey;
}

#left-arrow{
  left:10px;
}

#right-arrow{
  right:10px;
}

#dots-con{
  
  text-align:center;
}
.dot{
  display:inline-block;
  background:grey;
  padding:8px;
  border-radius:50%;
  margin:10px 5px;
}

.active{
  background:crimson;
}

@media (max-width:576px){
  #slider{width:100%;
  
  }
  
  .controls{
    font-size:1em;
  }
  
  #dots-con{
    display:none;
  }
}

</style>
<div class="container py-5">
    <div class="row row-centered pos">
        <div class="col-12 col-centered" id="col1">
            <h3 class="display-3 text-success text-center py-3">{{ sala['naziv_sale'] }}</h3><br>
            <!--Galerija slike-->
            
  <!--Slider-->
<div id="slider">
  {% for slika in slike %}  
    <div class="slide" style="background:dodgerBlue;">
      <img src="{{ slika['putanja'] }}" class="card-img-top" alt="Slika sale">
    </div>
    {% endfor %}
    <!--Controlling arrows-->
    <span class="controls" onclick="prevSlide(-1)" id="left-arrow"><i class="fa fa-arrow-left" aria-hidden="true"></i>
  </span>
    <span class="controls" id="right-arrow" onclick="nextSlide(1)"><i class="fa fa-arrow-right" aria-hidden="true"></i>
  </span>
  </div>
    <div id="dots-con">
   {% for slika in slike %}
   <span class="dot"></span>
   {% endfor %}
   </div>
  
              <!--Opis do srednjeg ekrana-->
              <div class="container d-none d-lg-block">
                <div class="row">
                  <div class="col-6"><br><div class="card w-50 p-3">
                    <div class="card-body">
                      <p class="lead text-success">Adresa: {{ sala['adresa'] }}</p>
                    </div>
                    <div class="ratio ratio-1x1">
                {{ kod_mape | safe }}</div></div> {% if slike %}</div>
                  <div class="col-6"><br>
                        <p class="lead text-success">Opis:<br> {{ sala['opis'] }}</p>
                        <p class="lead text-success">Cena po satu: <span class="badge bg-success">{{ sala['cena_po_satu'] }}</span></p>
                        <div class="d-flex justify-content-center my-5">
                            {% if session['tip'] == 2 %}
                            <a href="{{ url_for('zatrazi_termin', sala_id=sala['id_sale']) }}" class="btn btn-success btn-lg text-center mx-3 my-5" style="-webkit-box-shadow:0px 0px 30px 3px rgba(0,0,0,0.6);
                            -moz-box-shadow: 0px 0px 30px 3px rgba(0,0,0,0.6);
                            box-shadow: 0px 0px 30px 3px rgba(0,0,0,0.6);">Zatraži termin</a> 
                            <a href="{{ url_for('oceni', entity_id=sala['id_sale']) }}" class="btn btn-success btn-lg text-center mx-3 my-5" style="-webkit-box-shadow:0px 0px 30px 3px rgba(0,0,0,0.6);
                            -moz-box-shadow: 0px 0px 30px 3px rgba(0,0,0,0.6);
                            box-shadow: 0px 0px 30px 3px rgba(0,0,0,0.6);">Oceni salu</a>
                            {% endif %}
                            <a href="{{ url_for('ocene_sala', sala_id=sala['id_sale']) }}" class="btn btn-success btn-lg text-center mx-3 my-5" style="-webkit-box-shadow:0px 0px 30px 3px rgba(0,0,0,0.6);
                            -moz-box-shadow: 0px 0px 30px 3px rgba(0,0,0,0.6);
                            box-shadow: 0px 0px 30px 3px rgba(0,0,0,0.6);">Pogledaj ocene</a> 
                            </div>
                  </div>
                  
                  
            {% endif %}
            
            
            </div>

        </div>
        <!--Opis za male ekrane-->
        <div class="d-block d-lg-none">
            <div class="mt-3">
            <p class="lead text-success">Opis:<br> {{ sala['opis'] }}</p>
                        <p class="lead text-success">Cena po satu: <span class="badge bg-success">{{ sala['cena_po_satu'] }}</span></p>
                        <div class="row d-flex justify-content-center">
                            <div class="col-6"><br><div class="card w-auto p-3">
                              <div class="card-body">
                                <p class="lead text-success">Adresa: {{ sala['adresa'] }}</p>
                              </div>
                              <div class="ratio ratio-1x1">
                          {{ kod_mape | safe }}</div></div> {% if slike %}</div>
                            
                            
                      {% endif %}
                      
                      
                      </div>
                        <div class="d-flex justify-content-center my-5">
                            {% if session['tip'] == 2 %}
                            <a href="{{ url_for('zatrazi_termin', sala_id=sala['id_sale']) }}" class="btn btn-success btn-lg text-center mx-3 my-5" style="-webkit-box-shadow:0px 0px 30px 3px rgba(0,0,0,0.6);
                            -moz-box-shadow: 0px 0px 30px 3px rgba(0,0,0,0.6);
                            box-shadow: 0px 0px 30px 3px rgba(0,0,0,0.6);">Zatraži termin</a> 
                            <a href="{{ url_for('oceni', entity_id=sala['id_sale']) }}" class="btn btn-success btn-lg text-center mx-3 my-5" style="-webkit-box-shadow:0px 0px 30px 3px rgba(0,0,0,0.6);
                            -moz-box-shadow: 0px 0px 30px 3px rgba(0,0,0,0.6);
                            box-shadow: 0px 0px 30px 3px rgba(0,0,0,0.6);">Oceni salu</a>
                            {% endif %}
                            <a href="{{ url_for('ocene_sala', sala_id=sala['id_sale']) }}" class="btn btn-success btn-lg text-center mx-3 my-5" style="-webkit-box-shadow:0px 0px 30px 3px rgba(0,0,0,0.6);
                            -moz-box-shadow: 0px 0px 30px 3px rgba(0,0,0,0.6);
                            box-shadow: 0px 0px 30px 3px rgba(0,0,0,0.6);">Pogledaj ocene</a> 
                        </div>
                </div>
          </div>
    </div>


    
<script>
  var slides = document.querySelectorAll(".slide");
var dots = document.querySelectorAll(".dot");
var index = 0;


function prevSlide(n){
  index+=n;
  console.log("prevSlide is called");
  changeSlide();
}

function nextSlide(n){
  index+=n;
  changeSlide();
}

changeSlide();

function changeSlide(){
    
  if(index>slides.length-1)
    index=0;
  
  if(index<0)
    index=slides.length-1;
  
  
  
    for(let i=0;i<slides.length;i++){
      slides[i].style.display = "none";
      
      dots[i].classList.remove("active");
      
      
    }
    
    slides[index].style.display = "block";
    dots[index].classList.add("active");

  

}



</script>
{% endblock %}

