{% extends 'base.html' %} {% block body %}

<script>
    fetch("{{ url_for('static', filename='js/gradovi.json') }}")
        .then(response => response.json())
        .then(data => {
            const citySelect = document.getElementById('citySelect');
            data.forEach(city => {
                const option = document.createElement('option');
                option.value = city.city;
                option.textContent = city.city;
                citySelect.appendChild(option);
            });
        })
        .catch(error => {
            console.log('Došlo je do greške pri učitavanju fajla:', error);
        });
</script>

<div class="bg-image_dodavanje_sale d-flex justify-content-center align-items-center min-vh-100">

    <h2 class="word dodavanje_s3 container d-flex justify-content-center align-items-center min-vh-100">
        <form id="saleForm" action="{{ url_for('dodavanjesale') }}" method="post"
        enctype = "multipart/form-data">
                <div class="msg">{{ msg }}</div>
                <input id="naziv_sale" name="naziv_sale" type="text" placeholder="Unesite naziv sale" class="textbox dodavanje_s1 form-control form-control-lg bg-light fs-6" />
                <br>
                <input id="cena_po_satu" name="cena_po_satu" type="text" placeholder="Unesite cenu po satu" class="textbox dodavanje_s1 form-control form-control-lg bg-light fs-6" />
                <br>
                <input id="opis" name="opis" type="text" placeholder="Unesite kratak opis vasih usluga" class="textbox dodavanje_s2 form-control form-control-lg bg-light fs-6" />
                <br>
                <select id="citySelect" name="grad" class="custom-select dodavanje_s1 form-control form-control-lg bg-light fs-6"></select>
                <br>
                <input id="adresa" name="adresa" type="text" placeholder="Unesite adresu" class="textbox dodavanje_s1 form-control form-control-lg bg-light fs-6" />
                <input id="grad" name="grad" type="hidden">
                <br>
                <input type = "file" name = "file" class="form-control form-control-lg" multiple/>
                <br>
                <input type="submit" class="btn btn-lg btn_1 w-100 fs-6" value="Dodaj salu">
                <br>
                <br>
                <p class="bottom mt-3"><a class="bottom btn btn-lg btn_2 w-100 fs-6" href="{{url_for('home')}}">Vrati se nazad</a></p>
        </form>
    </h2>
</div>

    <script>
    document.getElementById('saleForm').addEventListener('submit', function (event) {
        var fileInput = document.querySelector('input[type="file"]');
        if (fileInput.files.length === 0) {
            alert('Morate uploadovati bar jednu sliku vaše sale.');
            event.preventDefault(); 
        }
    });
</script>

</script>

{% endblock %}