{% extends 'base.html' %}
{% block body %}
    <h1>Izmeni salu</h1>
    <form method="POST" action="/izmeni_salu/{{ sala.id_sale }}">
        <label for="novi_naziv">Novi naziv sale:</label>
        <input type="text" id="novi_naziv" name="novi_naziv" value="{{ sala.naziv_sale }}" required><br><br>

        <label for="nova_cena">Nova cena po satu:</label>
        <input type="number" id="nova_cena" name="nova_cena" value="{{ sala.cena_po_satu }}" required><br><br>

        <label for="novi_opis">Novi opis:</label>
        <input type="text" id="novi_opis" name="novi_opis" value="{{ sala.opis }}" required><br><br>

        <input type="submit" value="Sačuvaj izmene">
    </form>
{% endblock %}
