{% extends 'base.html' %} {% block body %}


    <!-- Background image -->
    <div class="bg-image">
        <!-- Your content goes here -->
    

        <!--MAIN-->
    
            <div class="container d-flex justify-content-center align-items-center min-vh-100">

        <!--LOGIN-->

            <div class="row border rounded-5 p-3 bg-white shadow box-area">

        <!--LEFT BOX-->

            <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box">
                <div class="featured-image mb-3">
                    <img src="{{ url_for('static', filename='images/logo.png') }}" class="img-fluid" style="width: 250px;">
                </div>

            </div>

        <!--RIGHT BOX-->

            <div class="col-md-6 right-box">
                <div class="row align-items-center">
                    <div class="header-text mb-4">
                        <h2>Registracija</h2>
                    </div>
                    <form action="{{ url_for('register') }}" method="post">
                        <div class="msg">{{ msg }}</div>
                        {% if reg %}
                        <a class="bottom" href="{{url_for('login')}}">Uloguj se</a></p>
                        {% else %}
                        <div class="input-group mb-3">
                            <input id="username" name="username" type="text" class="form-control form-control-lg bg-light fs-6" placeholder="Unesite korisničko ime">
                        </div>
                        <div class="input-group mb-3">
                            <input id="password" name="password" type="password" class="form-control form-control-lg bg-light fs-6" placeholder="Unesite šifru">
                        </div>
                        <div class="input-group mb-3">
                            <input id="email" name="email" type="email" class="form-control form-control-lg bg-light fs-6" placeholder="Unesite email adresu">
                        </div>
                        <div class="input-group mb-3">
                            <input id="ime" name="ime" type="text" class="form-control form-control-lg bg-light fs-6" placeholder="Unesite ime">
                        </div>
                        <div class="input-group mb-3">
                            <input id="prezime" name="prezime" type="text" class="form-control form-control-lg bg-light fs-6" placeholder="Unesite prezime">
                        </div>
                        <div class="input-group mb-3">
                            <input id="telefon" name="telefon" type="text" class="form-control form-control-lg bg-light fs-6" placeholder="Unesite broj telefona">
                        </div>
                        <div class="input-group mb-3">
                            <select id="tip" name="tip" class="textbox custom-select form-control form-control-lg bg-light fs-6">
                                <option value="" disabled selected hidden>- Prijava kao -</option>
                                <option value="1" placeholder="Vlasnik balon sale">Vlasnik balon sale</option>
                                <option value="2" placeholder="Igrac">Igrac</option>
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <button class="btn btn-lg btn-primary w-100 fs-6">Prijavi se</button>
                        </div>
                        {% endif %}
                    </form>
                        <div class="row">
                            <small>Već imate nalog? <a href="{{url_for('login')}}">Uloguj se ovde</a> </small>
                        </div>
                    </div>
                </div>


        </div>
    </div>

    
    
    </div>

{% endblock %}